.cabecalho{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
}

h1 {
     font-family: "Audiowide", sans-serif;
}

h2 {
    display: flex;
    background-color:  rgb(121, 198, 249);;
    color:black;
}

 img {
     width: 150px;
     height: 150px;
     border-radius: 50%;
 }

 .audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
